@model IEnumerable<Bibliotek.Models.Card>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Låntagare med försenade lån</h2>

<p>
    <a asp-action="Rentals">Alla lån</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Låntagare
            </th>
            <th>
                Email
            </th>
            <th>
                Mobilnummer
            </th>
            <th>
                Försenade böcker
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var ordered = Model.Where(c => c.NotReturnedBooks > 0).OrderByDescending(c => c.NotReturnedBooks).ToList();
            foreach (var item in ordered)
            {

                <tr>
                    <td>
                        @{
                            var fullName = item.FirstName + " " + item.LastName;
                            @Html.DisplayFor(m => fullName)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelephoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotReturnedBooks)
                    </td>
                    <td>
                        <a asp-action="Books" asp-route-id="@item.CardId">Visa böcker</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
