@model IEnumerable<Bibliotek.Models.Rental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alla försenade lån</h2>

<p>
    <a asp-action="Index">Låntagare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Låntagare
            </th>
            <th>
                Bok
            </th>
            <th>
                Låndatum
            </th>
            <th>
                Utlånad till
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var fullName = item.Card.FirstName + " " + item.Card.LastName;
                    @Html.DisplayFor(m => fullName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @{
                    var date = item.RentedUntilDate.ToShortDateString();
                    @Html.DisplayFor(modelItem => date)
                }
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.CardId">Visa låntagare</a> |
            </td>
        </tr>
}
    </tbody>
</table>
